.navbar {
  height:60px;
  display: flex;
  align-items: center;
  background-color: #5a00b7;
  top: 0;
}

.header-option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: #f9e3a6;
}

.navbar-search-input{
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}


.navbargit add -option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: #f9e3a6;
}