.cat-header{
text-align: center;
font-size: 75px;
font-family: 'Passion One', cursive;
color: #5a00b7 ;
text-shadow: #f9e3a6;
}
.font2 {
  color: #f9e3a6;
}
.head-image{
  display: flex;
  align-items: center;
}
.cat-img{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  margin-bottom: 5px;
  width: 100%;
  padding: 20px;
 height: 400px;
  min-width: 100px;
}
.store-img:hover{
transform: scale(1.015);
}
.flavor-text{
  font-size: 33px;
  font-family: 'Passion One', cursive;
  color: #141315;
  line-height: 45px;
  text-align: center;
}
.logo-text{
  height: 33px;
  margin-bottom: -5px;
  margin-top: 5px;
}
.logo-text-head{
  height: 66px;
 
  
}
.flavor-text-title{
  font-size: 33px;
  font-family: 'Passion One', cursive;
  color: #ad7ba6;
  text-align: center;
  margin-bottom: -20px;
  margin-top: -135px;
  
}
